{% extends 'main.html' %}

{% block content %}
<div class="list-container">
    <h3 class="list-container__title">Edit team member</h3>
    <h5 class="list-container__subtitle">Edit contact info, location and role.</h5>
    <form method="POST" action="" class="list-container__form" >
        {% csrf_token %}
        <h5 class="list-container__info">Info</h5>
        {{form.as_p}}
        <div class="buttons-container">
            <a href="{% url 'delete' member.id %}" class="delete-button" role="button">Delete</a>
            <input type="Submit" value="Save" class="save-button"/>
        </div>
    </form>
</div>

{% endblock %}