{% extends 'main.html' %}

{% block content %}
<h2 class="title">List Page</h2>

<div class="list-container">
    <div class="plus-sign">
        <a href="{% url 'add' %}" class="plus-sign__icon">+</a>
    </div>
    <h3 class="list-container__title">Team members</h3>
    {% for member in team_members %}
        {% if forloop.last %}
            <h5 class="list-container__subtitle">You have {{forloop.counter}} team members</h5>
        {% endif %}
    {% endfor %}
    <div class="list-container__members">
        {% for member in team_members %}
        <!-- <a href="/edit/{{member.id}}">  -->
        <div>    
            <a href="{% url 'edit' member.id %}" class="list-container__member-link"> 
                <div class="avatar avatar--default default"></div>
                <div class="list-container__member">
                    <!-- <h5 class="list-container__info-r">{{member.role}}</h5> -->
                    <h5 class="list-container__name">{{member.first_name}} {{member.last_name}} {% if '2' in member.role %}(Admin){% endif %}</h5>
                    <h5 class="list-container__phone">{{member.phone}}</h5>
                    <h5 class="list-container__email">{{member.email}}</h5>
                </div>
            </a>  
        </div>    
        {% endfor %}
    </div>
</div>

{% endblock content %}